#body_index.simple{
    background: #ffffff;
}

#body_index_head.simple{
}
#body_index_head_title.simple{
    color: #495057;
    font-weight: lighter;
}
#body_index_head_introduction.simple{
    font-weight: normal;
}

#body_index.simple .body_article_div{
    overflow: hidden;
}
#body_index.simple .body_article_img{
    width: 400px;
    clear: both;
}
#body_index.simple .body_article_p{
    font-size: 16px;
}


@media all and (min-width: 400px) {
    #body_index.simple .body_article_img{
        min-width: 400px;
    }
}
@media all and (max-width: 399px) {
    #body_index.simple .body_article_img{
        width: 100%;
    }
}